.App {
  font-family: Arial, Helvetica, sans-serif;
}

.todo{
  display: flex;
  height: 10vh;
  width: 50vw;
  border: 1px lightgrey solid;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.todo:hover{
  box-shadow: 3px 2px grey;
  border-radius: 10px;
}

.buttons{
  display: flex;
}